/* <!-- ================================ -->
<!-- navigationSectione start here  -->
<!-- ================================ --> */
#navigation {
  background-color: var(--clr-rad, #e74c3c);
  padding: 20px 10px;
  z-index: 100;
  width: 100%;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: var(--clr-ligh);
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--clr-ligh);
}

.navbar-toggler-icon {
  background: url(../../../img/icons/menu.png);
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}
/* <!-- ================================ -->
<!-- navigationSectione end here  -->
<!-- ================================ --> */
