/* <!-- ================================ -->
<!-- skillsSection start from here  -->
<!-- ================================ --> */
.skillsSection,
.contactSection {
  // background-color: var(--clr-radish, #cae4db);
  background-color: var(--clr-aquaish);
  color: var(--clr-bluis);
  padding: 4em 0;
  .col-md-12 {
    p {
      margin-top: 1em;
    }
  }
  .owl-carousel {
    margin-top: 2em;
    .skill {
      text-align: center;
      margin-left: 10px;
      color: var(--clr-bluis);
      .chart {
        color: var(--clr-bluis);
        .percent {
          color: var(--clr-bluis);
          color: #00303f;
        }
      }
      h4 {
        margin-top: 1em;
      }
      p {
        margin-top: 1em;
      }
    }
  }
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: var(--clr-bluis);
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: '%';
}
/* <!-- ================================ -->
<!-- skillsSection end from here  -->
<!-- ================================ --> */
