/* <!-- ================================ -->
<!-- contactSection start from here  -->
<!-- ================================ --> */
.contactSection {
  padding: 4em 0;
}
.contactButton {
  background-color: var(--clr-bluis);
  color: var(--clr-aquaish);
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid var(--clr-bluis);
  border-radius: 2px;
  font-weight: var(--fw-bolder);
  transition: 0.7s;
}
.contactButton:hover {
  text-decoration: none;
  color: #e74c3c;
  background-color: #fff;
  transition: 0.7s;
}
/* <!-- ================================ -->
<!-- contactSection end here  -->
<!-- ================================ --> */
