/* <!-- ================================ -->
<!-- copyrightSection start from here  -->
<!-- ================================ --> */
.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}
/* <!-- ================================ -->
<!-- copyrightSection start from here  -->
<!-- ================================ --> */