/* <!-- ================================ -->
<!-- copyrightSection start from here  -->
<!-- ================================ --> */
.copyrightSection {
  background-color: var(--clr-rad);
  color: var(--clr-ligh);
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}
/* <!-- ================================ -->
<!-- copyrightSection start from here  -->
<!-- ================================ --> */
